* {
  border: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-family: "Noto Serif", serif;
}

.italic {
  font-style: italic;
}

a {
  color: #aaa;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
  cursor: pointer;
}

a i {
  color: #aaa;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
  cursor: pointer;
}

body {
  color: #fff;
}

a:hover, a:hover i {
  color: #fff;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.container span.back {
  display: block;
  padding-top: 60px;
}

.red {
  color: red;
}

article {
  margin: 0 auto;
  margin-top: 5vh;
  text-align: justify;
  width: 70vw;
  font-size: 16px;
  line-height: 150%;
}

article span.italic {
  font-size: 16px;
  font-style: italic;
}

article span.italic p {
  font-size: 16px;
}

nav {
  width: 100vw;
  height: 50px;
  position: fixed;
}

nav ul {
  line-height: 40px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul li {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

nav ul li a {
  display: block;
  font-size: 12px;
  padding: 5px;
}

nav ul li:last-child {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

nav ul li:hover a {
  color: #fff;
}

nav.arrowUp {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.arrowUp i {
  color: #aaa;
  line-height: 48px;
}

nav.arrowUp:hover {
  background-color: #fff;
}

main {
  width: 100%;
  background-color: #000;
  overflow: hidden;
  height: 100vh;
}

main article {
  height: 40vh;
}

main img {
  margin: 0 auto;
  margin-top: 5vh;
  width: 70vw;
}

section img {
  margin-top: 5vh;
  max-width: 100%;
}

section img.title {
  margin-top: 60px;
}

section article span {
  font-size: 16px;
}

.section1, .section3, .section5, .section7 {
  background-color: #111;
}

.section2, .section4, .section6 {
  background-color: #000;
}

.section2, .section3, .section4 {
  padding-bottom: 10vh;
}

.section1, .section5, .section7 {
  height: 100vh;
}

.section5 article {
  padding-bottom: 5vh;
}

.section6 article {
  font-size: 15px;
  text-align: center;
  margin: 5vh auto 0 auto;
  font-style: italic;
}

.section6 img {
  margin: 0;
  margin-top: 1vh;
}

.section6 img:last-child {
  margin-bottom: 10vh;
}

.section7 img.title {
  margin-bottom: 5vh;
}

.section7 article {
  margin-top: 7.5vh;
  text-align: center;
}

.section7 .media {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section7 .media i {
  font-size: 50px;
  margin: 1vh;
}
/*# sourceMappingURL=style.css.map */