@import 'mixins'
main
    height: 100vh
    @include screen
    article
        height: 40vh
    img
        margin: 0 auto
        margin-top: 5vh
        width: 70vw
        //background-color: #222
    .continue
        display: none

//Responsive for computers

@media screen and ( min-width: 1300px )
    main
        .container
            article
                font-size: $article-size + 2
                span
                    font-size: $article-size + 2

@media screen and ( min-width: 1500px )
    main
        .container
            article
                font-size: $article-size + 6
                span
                    font-size: $article-size + 6

@media screen and ( min-width: 1900px )
    main
        .container
            article
                font-size: $article-size + 10
                span
                    font-size: $article-size + 10

//Responsive for vertical phone/tablets

@media (orientation: portrait) and ( min-width: 1000px )
    main
        .container
            article
                font-size: $article-size + 14
                span
                    font-size: $article-size + 14

@media (orientation: portrait) and ( min-width: 700px )
    main
        .container
            article
                font-size: $article-size + 10
                span
                    font-size: $article-size + 10

@media (orientation: portrait) and ( max-width: 400px )
    main
        .container
            article
                font-size: $article-size - 4
                span
                    font-size: $article-size - 4

//Responsive for horizontal phones/tablets

@media (orientation: landscape) and ( max-width: 1000px )
    main
        .continue
            display: block
            a
                font-size: $article-size - 5
        img
            width: 50vw
        .container
            article
                font-size: $article-size - 5
                span
                    font-size: $article-size - 5

@media (orientation: landscape) and ( max-width: 700px )
    main
        .continue
            a
                font-size: $article-size - 6
        .container
            article
                font-size: $article-size - 6
                span
                    font-size: $article-size - 6