@import 'mixins'
main
    @include screen
    height: 100vh
    article
        height: 40vh
    img
        margin: 0 auto
        margin-top: 5vh
        width: 70vw
        //background-color: #222