nav
    width: 100vw
    height: $navH
    position: fixed
    ul
        line-height: $navH - 2 * $nav-a-padding
        list-style: none
        display: flex
        flex-direction: row
        justify-content: flex-end
        background-color: rgba(0,0,0,0.7)
        li
            flex-basis: 10%
            a
                display: block
                font-size: $font-size - 2
                padding: $nav-a-padding
        li:last-child
            flex-basis: 5%
        li:hover a
            color: $font-color