section
    img
        margin-top: 5vh
        max-width: 100%
    img.title
        margin-top: 60px

.section1, .section3, .section5, .section7
    background-color: #111
.section2, .section4, .section6
    background-color: #000
.section2, .section3, .section4
    padding-bottom: 10vh
.section1, .section7
    min-height: 100vh

.section1
    overflow: hidden

.section5
    article
        padding-bottom: 5vh
    iframe
        width: 100%
        height: 30vw
        margin-bottom: 2vw

.section6
    article
        font-size: $article-size - 1
        text-align: center
        margin: 5vh auto 0 auto
        font-style: italic
    img
        margin: 0
        margin-top: 1vh
    img:last-child
        margin-bottom: 10vh
.section7
    img.title
        margin-bottom: 5vh
    article
        margin-top: 7.5vh
        text-align: center
    .media
        margin-top: 5vh
        margin-bottom: 5vh
        i
            font-size: 50px
            margin: 1vh

//Responsive for computers

@media screen and ( min-width: 1000px )
    .section7
        a
            font-size: $font-size + 2
    .section5
        iframe
            width: 70%

@media screen and ( min-width: 1500px )
    .section7
        a
            font-size: $font-size + 6

@media screen and ( min-width: 1900px )
    .section7
        a
            font-size: $font-size + 10

//Responsive for vertical phone/tablets

@media (orientation: portrait) and ( min-width: 1000px )
    .section7
        a
            font-size: $font-size + 14
@media (orientation: portrait) and ( min-width: 700px )
    .section7
        a
            font-size: $font-size + 10
@media (orientation: portrait) and ( max-width: 400px )
    .section7
        a
            font-size: $font-size

//Responsive for horizontal phones/tablets

@media (orientation: landscape) and ( max-width: 1000px )
    section
        img
            margin-top: 5vh
            max-width: 80%
        img.title
            margin-top: 10px