@import 'variables'
@import 'mixins'
*
    border: 0
    margin: 0
    color: $font-color
    font-size: $font-size
    font-family: $font-name
.italic
    font-style: italic

a
    @include a-style
    i
        @include a-style

body
    color: $font-color

a:hover, a:hover i
    color: $font-color

.container
    width: 80%
    height: 100%
    margin: 0 auto
    text-align: center
    font-size: 0
    span.back
        display: block
        padding-top: 60px
.red
    color: red

@import 'article'
@import 'nav'
@import 'main'
@import 'sections'